<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>CineScope needs access to your photo library to let you select a profile picture.</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>CineScope needs permission to save your profile picture.</string>
    </dict>
</plist>
